<ion-view title="Edit Profile" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <div id="editProfile-container16">
      <div class="item item-body" id="editProfile-list-item-container8" style="">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="editProfile-button51" class="button button-light  button-block">Change Profile Image</button>
        <a ui-sref="tabsController.profile" id="editProfile-button52" class="button button-light  button-block">Save Changes</a>
      </div>
    </div>
  </ion-content>
</ion-view>