<ion-view view-title="Dashboard" >
  <ion-content class="padding">

    <div id="mesta-container1">
      <div class="list card" id="mesta-card24" ng-repeat="data in datas">
        <ion-item class="item-avatar" id="mesta-list-item13">
          <h2>{{data.username}}</h2>
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <img class="item item-image" ng-src="{{data.image}}">
        </div>
        <div class="item item-body" id="mesta-list-item-container7">
          <div id="mesta-markdown7" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">{{data.comment}}</p>
          </div>
        </div>
        <div id="mesta-button-bar2" class="button-bar">
          <button class="icon button button-icon" ng-class="{'ion-ios-heart': post.userLike, 'ion-ios-heart-outline': !post.userLike}" ng-click="toggleLike(post)"></button>
          <button id="mesta-button14" class="button button-light  button-block icon ion-map"></button>
          <button id="mesta-button16" class="button button-light  button-block icon ion-ios-compose-outline"></button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
