<ion-view view-title="Mesta">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tab.home"  class="button button-light  button-block">Log in</a>
      <a ui-sref="signup"  class="button button-positive  button-block button-clear">Sign Up</a>
    </form>
  </ion-content>
</ion-view>
