<ion-view title="Log In" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <form id="logIn-form1" class="list">
      <ion-list id="logIn-list1">
        <label class="item item-input" id="logIn-input1">
          <span class="input-label">Username</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="logIn-input2">
          <span class="input-label">Password</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.mesta" id="logIn-button1" class="button button-light  button-block">Log in</a>
      <a ui-sref="signUp" id="logIn-button2" class="button button-positive  button-block button-clear">Sign Up</a>
    </form>
  </ion-content>
</ion-view>