<ion-view title="Mesta" id="page2" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" class="has-header">
    <div id="mesta-container1">
      <div class="list card" id="mesta-card24">
        <ion-item class="item-avatar" id="mesta-list-item13" style="">
          <h2>User</h2>
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="item item-body" id="mesta-list-item-container7" style="">
          <div id="mesta-markdown7" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Comments</p>
          </div>
        </div>
        <div id="mesta-button-bar2" class="button-bar">
          <button id="mesta-button13" class="button button-light  icon ion-ios-heart-outline"></button>
          <button id="mesta-button14" class="button button-light  button-block icon ion-map"></button>
          <button id="mesta-button16" class="button button-light  button-block icon ion-ios-compose-outline"></button>
        </div>
      </div>
    </div>
    <div id="mesta-container6">
      <div class="list card" id="mesta-card28">
        <ion-item class="item-avatar" id="mesta-list-item24" style="">
          <h2>User</h2>
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="item item-body" id="mesta-list-item-container12" style="">
          <div id="mesta-markdown12" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Comments</p>
          </div>
        </div>
        <div id="mesta-button-bar3" class="button-bar">
          <button id="mesta-button17" class="button button-light  icon ion-ios-heart-outline"></button>
          <button id="mesta-button18" class="button button-light  button-block icon ion-map"></button>
          <button id="mesta-button19" class="button button-light  button-block icon ion-ios-compose-outline"></button>
        </div>
      </div>
    </div>
    <div id="mesta-container7">
      <div class="list card" id="mesta-card29">
        <ion-item class="item-avatar" id="mesta-list-item25" style="">
          <h2>User</h2>
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="item item-body" id="mesta-list-item-container13" style="">
          <div id="mesta-markdown13" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Comments</p>
          </div>
        </div>
        <div id="mesta-button-bar4" class="button-bar">
          <button id="mesta-button20" class="button button-light  icon ion-ios-heart-outline"></button>
          <button id="mesta-button21" class="button button-light  button-block icon ion-map"></button>
          <button id="mesta-button22" class="button button-light  button-block icon ion-ios-compose-outline"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>