<ion-view view-title="Profile">
  <ion-content>
    <div id="profile-container12">
      <ion-list id="profile-list8">
        <ion-item class="item-icon-left" id="profile-list-item41" style="">
          <div class="row">
            <div class="col"><i class="icon ion-ios-person-outline"></i></div>
            <div class="col"><p class="statistics">10</p> <h6>Photos</h6></div>
            <div class="col"><p class="statistics">35</p> <h6>Following</h6></div>
            <div class="col"><p class="statistics">20</p> <h6>Followed</h6></div>
          </div>
        </ion-item>
      </ion-list>
      <a ui-sref="editprofile" id="profile-button50" style="text-align:right;" class="button button-light  button-block">Edit Profile</a>
    </div>

    <div id="profile-container13">

      <div class="row">
        <div class="col"><img src="img/aurora.jpeg"></div>
        <div class="col"><img src="img/aurora.jpeg"></i></div>
        <div class="col"><img src="img/aurora.jpeg"></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/aurora.jpeg"></i></div>
        <div class="col"><img src="img/aurora.jpge"></i></div>
        <div class="col"><img src="img/aurora.jpeg"></i></div>
      </div>
    </div>
  </ion-content>
</ion-view>
