<ion-view title="Profile" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <div id="profile-container12">
      <ion-list id="profile-list8">
        <ion-item class="item-icon-left" id="profile-list-item41" style="">
          <i class="icon ion-ios-person-outline"></i>10</ion-item>
      </ion-list>
      <a ui-sref="tabsController.editProfile" id="profile-button50" style="text-align:right;" class="button button-light  button-block">Edit Profile</a>
    </div>
    <div id="profile-container14">
      <div id="profile-button-bar9" class="button-bar">
        <button id="profile-button48" class="button button-light  button-block icon ion-grid"></button>
        <button id="profile-button49" class="button button-light  button-block icon ion-ios-list-outline"></button>
      </div>
    </div>
    <div id="profile-container13">
      <div class="list card" id="profile-card210">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="item item-body" id="profile-list-item-container15" style="">
          <div id="profile-markdown15" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Comments</p>
          </div>
        </div>
        <div id="profile-button-bar6" class="button-bar">
          <button id="profile-button30" class="button button-light  button-block icon ion-ios-heart-outline"></button>
          <button id="profile-button31" class="button button-light  button-block icon ion-map"></button>
          <button id="profile-button32" class="button button-light  button-block icon ion-ios-compose-outline"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>