<ion-view title="Search Tag" id="page10" style="">
  <ion-content padding="true" class="has-header">
    <div id="searchTag-container23">
      <form id="searchTag-form13" class="list">
        <label class="item item-input" id="searchTag-search4" style="">
          <i class="icon ion-search placeholder-icon"></i>
          <input placeholder="" type="search">
        </label>
      </form>
    </div>
    <div id="searchTag-container24">
      <div id="searchTag-button-bar12" class="button-bar">
        <button id="searchTag-button66" class="button button-light  button-block">Users</button>
        <button id="searchTag-button67" class="button button-balanced  button-block">Tags</button>
      </div>
    </div>
    <div id="searchTag-container25">
      <div class="spacer" style="width: 283px; height: 12px;"></div>
    </div>
    <div id="searchTag-container26">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
    </div>
  </ion-content>
</ion-view>