<ion-view title="Search" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <div id="search-container19">
      <form id="search-form11" class="list">
        <label class="item item-input" id="search-search2" style="">
          <i class="icon ion-search placeholder-icon"></i>
          <input placeholder="" type="search">
        </label>
      </form>
    </div>
    <div id="search-container9">
      <form id="search-form8" class="list">
        <div id="search-container17">
          <div id="search-button-bar10" class="button-bar">
            <a ui-sref="tabsController.searchUser" id="search-button57" class="button button-light  button-block">Users</a>
            <button id="search-button58" class="button button-light  button-block">Tags</button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>