<ion-view title="Search User" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <div id="searchUser-container20">
      <form id="searchUser-form12" class="list">
        <label class="item item-input" id="searchUser-search3" style="">
          <i class="icon ion-search placeholder-icon"></i>
          <input placeholder="" type="search">
        </label>
      </form>
    </div>
    <div id="searchUser-container21">
      <div id="searchUser-button-bar11" class="button-bar">
        <button id="searchUser-button63" class="button button-balanced  button-block">Users</button>
        <button id="searchUser-button64" class="button button-light  button-block">Tags</button>
      </div>
    </div>
    <div id="searchUser-container22">
      <div class="spacer" style="width: 283px; height: 12px;"></div>
      <ion-list id="searchUser-list11">
        <ion-item class="item-avatar" id="searchUser-list-item54" style="">
          <h2>User 1</h2>
        </ion-item>
        <ion-item class="item-avatar" id="searchUser-list-item55" style="">
          <h2>User 2</h2>
        </ion-item>
        <ion-item class="item-avatar" id="searchUser-list-item56" style="">
          <h2>User 3</h2>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>