<ion-view title="Share" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div id="share-container15">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <button id="share-button53" class="button button-light  button-block">Take a Photo</button>
    </div>
    <form id="share-form10" class="list">
      <label class="item item-select" id="share-select5">
        <span class="input-label">Category</span>
        <select>
          <option>Select</option>
          <option>Beach</option>
          <option>City</option>
          <option>Mountains</option>
          <option>Forest</option>
          <option>Park</option>
        </select>
      </label>
      <div class="spacer" style="width: 283px; height: 15px;"></div>
      <label class="item item-input" id="share-input8">
        <span class="input-label">Tag</span>
        <input placeholder="Write a tag" type="text">
      </label>
      <div class="spacer" style="width: 283px; height: 15px;"></div>
      <label class="item item-input" id="share-input7">
        <span class="input-label">Description</span>
        <input placeholder="Write a description" type="text">
      </label>
    </form>
  </ion-content>
</ion-view>