<ion-view view-title="Mesta">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signUp-list2">

        <label class="item item-input" id="signUp-input3">
          <span class="input-label">Email</span>
          <input placeholder="Write your email." type="email">
        </label>

        <label class="item item-input" id="signUp-input4">
          <span class="input-label">Username</span>
          <input placeholder="Write your username." type="text">
        </label>

        <label class="item item-input" id="signUp-input5">
          <span class="input-label">Password</span>
          <input placeholder="Write your password." type="password">
        </label>
        
      </ion-list>
      <!-- User creates account and is redirected to main view. -->
      <a ng-click="" id="signUp-button3" class="button button-light  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>
