<ion-view>
    <ion-header-bar align-title="left" >
        <div class="buttons" >
            <button class="button button-icon ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>        
        <label class="item-input-wrapper">
          <input type="search" placeholder="Search" class="headerInput" ng-model="input.searchText" ng-change="updateSearch()">
        </label>
        <button class="button button-icon ion-ios-close-empty" ng-click="emptySearch()"></button>
    </ion-header-bar>
    <ion-content class="has-tabs">
        <div class="tabs tabs-top custom-tabs-top">
            <a class="tab-item" ng-class="{active: tabs.Users == true }" ng-click="tabActivate('Users')">
                Users
            </a>
            <a class="tab-item" ng-class="{active: tabs.Tags == true }" ng-click="tabActivate('Tags')">
                Tags
            </a>  
        </div>
        <div ng-if="tabs.Users">
            <div class="list">
                <a class="item item-avatar" href="#" ng-repeat="p in searchResults.Users">
                <img src="{{data.profilePicture}}">
                <h2>{{data.username}}</h2>
                </a>

            </div>
        </div>
        <div ng-if="tabs.Tags">
            <div class="list">
                <a class="item item-avatar" href="#">
                <i class="icon ion-pound"></i>
                <h2>{{data.tags}}</h2>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>